:root {
  --logo-color: #4d5ae5;

  --first-logo-color: #2e2f42;

  --second-logo-color: #f4f4fd;

  --body-back-color: #ffffff;

  --body-text-color: #434455;

  --link-color: #2e2f42;

  --link-hover-color: #404bbf;

  --address-color: #434455;

  --address-hover-color: #404bbf;

  --hero-back-color: #2e2f42;

  --hero-title-color: #ffffff;

  --btn-color: #4d5ae5;

  --btn-hover-color: #404bbf;

  --btn-text-color: #ffffff;

  --title-color: #2e2f42;

  --cards-back-color: #f4f4fd;

  --cards-item-back-color: #ffffff;

  --footer-back-color: #2e2f42;

  --footer-text-color: #f4f4fd;

  --port-back-btn: #f4f4fd;

  --port-border-btn: #e7e9fc;

  --port-btn-text-color: #4d5ae5;

  --btn-text-hover-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--body-back-color);
  color: var(--body-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.header-logo {
  color: var(--first-logo-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--link-hover-color);
}

.address {
  font-style: normal;
}
.header-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

.header-address:hover,
.header-address:focus {
  color: var(--address-hover-color);
}

/* hero */

.hero {
  background: var(--hero-back-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--hero-title-color);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
  font-family: inherit;
  cursor: pointer;
  background: var(--btn-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--btn-hover-color);
}

/* Section */

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* Section 2 */

.section-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

/* Section 3 */

.teamcards {
  background: var(--cards-back-color);
}

.teamcards-item {
  background: var(--cards-item-back-color);
}

.teamcards-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-color);
}

.teamcards-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.teamcards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* Portfolio Main Btn */

.filters {
}

.filters-list {
}

.filters-item {
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--port-btn-text-color);
  background: var(--port-back-btn);
  border: var(--port-border-btn);
}

.filters-btn:hover,
.filters-btn:focus {
  background: var(--btn-hover-color);
}

.filters-btn-text:hover,
.filters-btn-text:focus {
  color: var(--btn-text-hover-color);
}

/* Portfolio Main Cards */

.project-list {
}

.project-item {
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* Footer */

.footer {
  background: var(--footer-back-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.footer-logo {
  color: var(--second-logo-color);
}
